.container {
    background-color: blanchedalmond;
}

.allInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    padding: 20px; /* Adjusted padding */
    gap: 40px; /* Adjusted gap */
}

.ımageBox {
    background-color: white;
    border-radius: 15px; /* Adjusted border radius */
    width: 1500px;
    height: 300px;
    overflow: hidden; /* Prevent image overflow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow for a subtle effect */
}

.albumImage {
    width: 100%; /* Make sure the image takes 100% width of its container */
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.box {
    /* Your existing styling for the .box element */
}
.modelsDirect{
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: large;
}
.modelsDirect:hover{
    background-color: black;
    color: white;
    font-size: large;

}