.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 150px 30px 150px;
}
.lines{
    height:2px;
    width: 85%;
    background-color: red;
}
.title{
    margin-bottom: 10px;
    font-size: larger;
    font-weight:bold;
}